# Ignore files and folders starting with 'tmp'
tmp*

# Specific directories and files to ignore
archives_animation/
archives/
output_data/
figs/
MORDM_analyze_robustness_old_method.py
MORDM_filter_candidate_policies_old_method.py
